* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Goldman', cursive;
    background-color: black;
}

h1 {
    font-size: 120px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.pink {
    color: pink;
}

#button {
font-size: 40px;
background-color: rgb(0, 0, 0);
border-radius: 64px;
border: 6px solid pink;
color: white;
padding: 15px;
}

